*{
    font-family:'Lato',sans-serif;
    font-family: 'open sans', sans-serif;
    font-family:'work sans', sans-serif;
}
body{
    font-family:montserrat;
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: none;
}
header{
    background:rgba(255,144,14,0.10);
    padding: 50px 240px;
}
.Input-box{
    position: relative;
    width:250px;
}
.Input-box input{
    width:100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background:#1d2b3a;
    border-radius: 5px;
    outline: none;
    color:#fff;
    font-size: 1em;
}
.input-box span{
    position: absolute;
    left:0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
 
}
a.active,a:hover{
    background:orange;
    transition: 5s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav>ul{
    display: flex;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:black;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
}
.nav-title{
    font-size: 2.7rem;
    font-weight: 700;
    color: #131313;
}
/*banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4 rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    color:#fff;
    background:#ff900E;
    padding: 20px 25px;
    font-size: 1.25 rem;
    cursor: pointer;
    border:0;
}
.banner-img{
    width: 100%;
    margin-top: 20px;
}

.img{
    width: 100%;
    margin-top: 20%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    grid-template: column repeat(1,1fr);
}
.destination-container{
    
    align-items: left;
}
.destination-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5 rem;
}
.destination-title{
    font-size: 2.8 rem;
}
.destination-description{
    color:#727272;
}
.Maldives{
    position: absolute;
}
.Indonesia{
    position: fixed;
    top: 0px;
}
.Srilanka{
    position: absolute;
}
.North America{
    position: fixed;
}
.kashmir{
    text-align: right;
}
.Bangladesh{
    text-align: left;
}
.Bandorban{
    text-align: center;
}

.why-us{
    position: relative;
    margin-bottom: 35px;
}
.why-us .box{
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    transition: 0.5s;
    position: relative;
    background-color: #333;
    max-height: 230px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}
.why-us .box:hover {
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
    background-color: rgba(0, 0, 0, 0.3);
}
.why-us .box img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition:all ease 1s; 
}
.feature{
    display: flex;
    margin-top: 130px;
    gap:100px;
}
.feature-content .travel{
    border-radius: 8px;
    background:#fff;
    box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
} 
.feature-img img{
    height: 90%;
    margin-left: 90%;
}
.travel{
    position: relative;
    border-radius: 8px;
    background: #ff900E;
    color:#fff;
    width: 342px;
    padding: 40px;
    text-align: center;
}
.travel h3{
    font-size: 1.5rem;
}
.travel p{
    font-size: 4 rem;
}
.facebook,.instagram,.twitter,.linkdin{
    width: 64px;
    height: 64px;
    
}

@media screen and(max-width: 600px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction:column;
    }
    nav>ul{
        gap: 10px;
    }
    .container{
        grid-template: column repeat(1,1fr);
    }
    footer{
        flex-direction:column;
    }
    .footer-column{
        width: 100%;
    }
   .btn-primary{
    margin-bottom: 15px;
   }
    

}
@media screen and(min-width: 600px) and (max-width: 550px){
    header{
        padding: 50px;
    }
    nav,
    nav>ul,
    .destination-img-container,
    .feature{
        flex-direction: column;
    }
}
